body {
    background-color: rgb(153, 152, 152);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
}

h1{
    color: blue;
    text-align: center;
}

h2{
    color: rgb(255, 0, 149);
    text-align: left;
}
h3{
    color: rgb(255, 60, 0);
    text-align: left;
}
h4{
    color: rgba(255, 0, 0, 0.781);
    text-align: left;
}
h5{
    color: rgb(79, 79, 207);
    text-align: left;
}
h6{
    color: rgb(67, 223, 202);
 }

 #hcentro{
     text-align: center;
 }

ul{
    background-color: brown;
    color: burlywood;
    text-align: left;
    list-style-position: inside;
}
.parrafoleft{
    text-align: left;
    color: teal;
    
}
.parrafoleftform{
    text-align: left;
    color: rgb(255, 255, 255);
    
}

th{
    border: 0.3px solid rgb(0, 0, 0);
}
tr{
    background-color: rgb(255, 255, 255);

}
#cabezal{
    background-color: darkgray;
    color: rgb(0, 0, 0);
}

#celeste{
    background-color: rgb(186, 210, 229);
}
#monoloco{
    align-items: left;
}
#tabla{
    margin-left: 50px;
}
#form{
    background-color:rgb(226, 226, 226);
}

.grid-container{
    display: grid;
    background-color: burlywood;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(6,1fr);
}

.grid-container div{
    background-color: crimson;
    text-align: center;
    padding: 5px;
}

/* .grid-container {
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
}

.grid-container div {
    background-color: brown;

    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid black;
}*/

.div1{
    grid-column: 3 / span 2;

    grid-row: 2 / span 3;
} 
