main{
    font-family: sans-serif;
}

.h-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.imagen,.bloque-1,.bloque-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

.bloque-1, .bloque-2{
    background-color: coral;
    border-radius: 10px;
    border-style: inherit;
    border-color: rgb(170, 84, 53);
    padding: 10px;
    color: white;
}

ul{
    list-style-position: outside;
}

