/* 
.page{
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 500px;
    grid-template-areas: "covid-gif covid-gif covid-gif"
                         "bloque-1 bloque-1 bloque-1"
                         "bloque-2 bloque-2 bloque-2";
    justify-content: center;
    gap: 20px;
}

.page.imagen{
    display: grid;
    align-content: center;
    align-items: center;
    width: auto;
    height: 300px;
} */

/* .covid-gif{
    grid-area: covid-gif;
}

.page.bloque-1{
    display: grid;
    align-content: center;
    align-items: center;
    width: auto;
}

.bloque-1{
    grid-area: bloque-1;
} */

.bloque-1{
  margin: auto;
  width: 60%;
  padding: 10px;
}