html{
    font-size: 62.5%;
}

body {
    background-color: rgb(153, 152, 152);
    background-repeat: no-repeat;
    background-position: right;
}

h1, h2, h3, h4, h5, h6, p{
    font-size: 2rem;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    }

h1{
    color: blue;
    text-align: center;
}

h2{
    color: rgb(255, 0, 149);
    text-align: left;
}
h3{
    color: rgb(255, 60, 0);
    text-align: left;
}
h4{
    color: rgba(255, 0, 0, 0.781);
    text-align: left;
}
h5{
    color: rgb(79, 79, 207);
    text-align: left;
}
h6{
    color: rgb(67, 223, 202);
 }

 #hcentro{
     text-align: center;
 }

ul{
    background-color: brown;
    color: burlywood;
    text-align: left;
    list-style-position: inside;
}
.parrafoleft{
    text-align: left;
    color: teal;
    font-size: 2rem;
    
}
.parrafoleftform{
    text-align: left;
    color: rgb(255, 255, 255);
        
}

.ulrojo{
    font-size: 1.5rem;
}

th{
    border: 0.1rem solid rgb(0, 0, 0);
}
tr{
    background-color: rgb(255, 255, 255);

}
#cabezal{
    background-color: darkgray;
    color: rgb(0, 0, 0);
}

#celeste{
    background-color: rgb(186, 210, 229);
}
#monoloco{
    align-items: left;
}
#tabla{
    margin-left: 5rem;
}
#form{
    background-color:rgb(226, 226, 226);
}


.grid-container{
    display: grid;
    background-image:  linear-gradient(rgb(104, 203, 236), rgb(9, 140, 184)
    );
    grid-template-columns: repeat(4, auto);
    grid-template-rows:  repeat(6, auto);    
}

.grid-container div{
    background-color: rgb(88, 157, 235);
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    border: 0.2rem solid blue ;
    border-radius: 1rem;
    border-style: inset;
   
}

div.div1{
    grid-column: auto / auto;
    grid-row: auto / auto;
    padding: 1.5rem;
    margin: 0.5rem;
} 

.grid-container2{
    display: grid;
    background-color: rgb(241, 144, 144);
    
    grid-template-columns: repeat(3, auto);
    grid-template-rows:  repeat(2, auto);    
}
.grid-container2 div{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    border: 0.2rem solid blue ;
    border-radius: 1rem;
    border-style: inset;
   
}

div.div1.div2.div3.div4{
    grid-column: auto / auto;
    grid-row: auto / auto;
    background-color: brown;

} 

div.div5{
    text-align: center;
    text-justify: auto;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  
} 
