
/* --------------------FORMATO PÁGINA---------------------- */

main{
    font-family: sans-serif;
}
/* --------------------ALINEACIÓN TITULO---------------------- */
.h-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

/* --------------------ALINEACIÓN BLOQUES---------------------- */

.imagen,.bloque-1,.bloque-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
/* --------------------FORMATO BLOQUES---------------------- */

.bloque-1, .bloque-2{
    background-color: coral;
    border-radius: 10px;
    border-style: inherit;
    border-color: rgb(170, 84, 53);
    padding: 40px;
    color: white;
    box-shadow: 0 8px 12px 0 rgb(170, 84, 53), 0 12px 40px 0 rgba(12, 4, 133, 0.19);
}
/* --------------------FORMATO LISTA UL---------------------- */

ul{
    list-style-position: outside;
}

img {
    text-align: center;
    width: 100%;
    height: auto;
  }

