/* <!-- -----------------------Root-------------------------- --> */

html {
    font-size: 6,25px;
    margin: 0px;
    padding: 0px;
    width: 100%; 
    height: 100%; 
       
}

:root{
    --color-rojo: #EF476F;
    --color-amarillo: #FFD166;
    --color-verde: #06D6A0;
    --color-azul: #118AB2;
    --color-petroleo: #073B4C;

}

body{
    background-image: url(https://images.fineartamerica.com/images-medium-large/3-lunar-surface-of-earths-moon-stocktrek-images.jpg);
    background-attachment: fixed;
}

/* <!-- -----------------------Main Grid body-------------------------- --> */
.grid-1{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: -0.4rem auto auto -0.4fr;
    gap: 5px;
    margin: 0px;
    grid-template-areas: "header header "
                         "sidebar main "
                         "sidebar extra "
                         "footer footer ";
    width: 100%;
}



/* <!-- -----------------------Justify Datetime in header-------------------------- --> */

.grid-header > p{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    font-style: oblique;
    font-weight: bold;
    
}
/* <!-- -----------------------Header format-------------------------- --> */

header{
    padding-bottom: 2%;
}

.grid-header > h1 {
    margin: 0 0 0rem;
    font-size: 3rem;
}

.grid-header > h2 {
    font-style: oblique;
    
}
.grid-header{
    display: grid;
    text-align: center;
    grid-area: header;
    border-color: var(--color-amarillo);
    border-style: solid;
    border-radius: 1rem;
    background: rgba(235, 194, 11, 0.644);
    
   
}


/* <!-- -----------------------Sidebar format-------------------------- --> */
.grid-sidebar{
    display: grid;
    padding-inline-start: 5%;
    border-style: none;
    background-image: linear-gradient( var(--color-rojo),rgba(219, 15, 15, 0.712));
    box-shadow: 0.4rem 0.8rem 0.9rem var(--color-rojo), 0.4rem 0.8rem 0.9rem yellow;
    grid-area: sidebar;
    border-radius: 1rem;
    justify-content: left;
}



.div-li {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "h2"
                         "ol";
     width: 100%;
 
}

.h2-grid{
    grid-area: h2;
}

.ol-grid{
    grid-area: ol;
}




/* <!-- -----------------------Main format-------------------------- --> */
.grid-main{
    display: grid;
    text-align:initial;
    border-color: var(--color-verde);
    grid-area: main;
    padding: 2%;
    border-style: solid;
    border-radius: 1rem;
    background: rgba(5, 175, 110, 0.444);
    color: #fafafa;
    font-size: 2rem;
    font-weight: bold;

  
}

.violeta {
    color: rgb(48, 3, 90);
    text-shadow:  2px 2px wheat;
}

/* <!-- -----------------------Extra format-------------------------- --> */
.grid-extra{
    display: grid;
    align-content: left;
    border-color: var(--color-azul);
    grid-area: extra;
    padding: 0%;
    border-style: solid;
    border-radius: 1rem;
    background: rgba(5, 118, 211, 0.244);
  
}

.grid-extra img {
   display: block;
   width: 100%;
   height: auto;
   border-radius: 1rem;
   
}

/* <!-- -----------------------Atom ant format-------------------------- --> */

section .atom-ant {
    max-width: 9%;
    position: fixed;
    bottom: -12%;
    left: -12%;
}

.atom-ant{
    animation: atom-ant 1s ease-out infinite;
}



/* <!-- -----------------------Footer format-------------------------- --> */
.grid-footer{
    display: grid;
    position: fixed;
    bottom: 0;
    border-color: var(--color-petroleo);
    grid-area: footer;
    border-style: solid;
    border-radius: 1rem;
    background: rgba(5, 77, 211, 0.644);
  
}

li  {
    display: inline-block;
    color: lightgoldenrodyellow;
    text-align: center;
    border-radius: 1.5rem;
    background-color: var(--color-rojo);
    margin: 0.4rem 0.2rem;
    padding: 1rem 3.2rem;
   
}

.cargando{
    cursor: progress;
}
.cargo{
    cursor: help;
}
.aun-no{
    cursor: wait;
}
.mmmh{
    cursor: url;
}

/* <!-- -----------------------Footer last button format-------------------------- --> */


.atom-launch{
    background-image: linear-gradient(90deg, var(--color-amarillo) 0%, #0f0475 100%);
    border-radius: 1.5rem;
    color: lightgoldenrodyellow;
    margin: 0.4rem 0.2rem;
    padding: 1rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: alias;
 }

/* <!-- -----------------------Footer last button format animation "crazy button"-------------------------- --> */

 .atom-launch {
    animation: atom-launch 1s ease-in-out infinite;
  }

  @keyframes atom-launch {
    10% {
      transform: matrix3d(1, 0, 0, -0.001,
                          0, 1, 1, 0,
                          0, 0, 3, 0,
                          0, 0, 0, 1);
    }
    30% {
      transform: matrix3d(1, 0, 0, -0.008, 
                          0, 1, 1, 0, 
                          0, 0, 3, 0, 
                          0, 0, 0, 1);
    }
 }


 .atom-launch:hover{
    animation: atom-launch 70ms ease-in-out infinite;
    background-image: linear-gradient(90deg, var(--color-amarillo) 0%, #f84600 100%);
   
 }

/* <!-- -----------------------Footer last button format animation "huston we have a problem"-------------------------- --> */

.atom-launch:active{
  height: 50px;
  width: 180px;
  position:fixed;
  bottom: 0;
  left: 0;
    -webkit-animation: atom-ant 3s infinite;
    -moz-animation: atom-ant 3s infinite;
    -o-animation: atom-ant 3s infinite;
    animation: atom-ant 3s infinite;
}

@-webkit-keyframes atom-ant {
    0%  { transform: translatey(-10px) translatex(800px) }
    60% { transform: translatey(-1000px) translatex(2000px) }
   100% { transform: translatey(-3000px) translatex(6000px) }
}

@-moz-keyframes atom-ant {
        0% { transform: translatey(-10px) translatex(800px) }
       60%  { transform: translatey(-1000px) translatex(2000px) }
      100%  { transform: translatey(-3000px) translatex(6000px) }

}

@-o-keyframes atom-ant {
        0% { transform: translatey(-10px) translatex(800px) }
       60% { transform: translatey(-1000px) translatex(2000px) }
      100% { transform: translatey(-3000px) translatex(6000px) }

}

@keyframes atom-ant {
        0%  { transform: translatey(-10px) translatex(800px) }
       60%  { transform: translatey(-1000px) translatex(2000px) }
       100% { transform: translatey(-3000px) translatex(6000px) }

}


/* <!-- -----------------------Cambio de background-------------------------- --> */

/* 
@media screen and (max-width: 1024px) {
    .grid-header {
        background-color: var(--color-azul)   
    }
}

@media screen and (max-width: 900px) {
    .grid-extra {
        background-color: var(--color-azul) 
    }
}

@media screen and (max-width: 800px) {
    .grid-footer {
        background-color: var(--color-azul)  
    }
}

@media screen and (max-width: 700px) {
    .grid-main {
        background-color: var(--color-azul) 
    }
}

@media screen and (max-width: 600px) {
    .grid-sidebar {
        background-color: var(--color-azul)   
    }
}

@media screen and (max-width: 500px) {
    .grid-1 {
        background-color: var(--color-azul) 
    }
}

@media screen and (max-width: 400px) {
    .grid-main {
        background-color: var(--color-azul) 
    }
}

@media screen and (max-width: 300px) {
    .grid-header {
        background-color:var(--color-azul) 
    }
}

@media screen and (max-width: 200px) {
    .grid-sidebar {
        background-color:var(--color-azul) 
    }
}
@media screen and (max-width: 100px) {
    .grid-extra {
        background-color:var(--color-azul) 
    }
} */

/* <!-- -----------------------Responsive-------------------------- --> */

@media screen and (max-width: 1000px) {
    .grid-1 {
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 0.6fr auto auto 0.6fr;
        grid-template-areas: "header header"
                             "sidebar main"
                             "extra extra"
                             "footer footer";
        
       
    }
}

@media screen and (max-width: 700px) {
    .grid-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr auto auto 0.6fr;
        grid-template-areas: "header"
                             "sidebar "
                             "main"
                             "extra"
                             "footer";
        
       
    }
}